<h2 class="center">Employee Management</h2>

<ul>
  <li>
    <a routerLink="/employee" routerLinkActive="active">Employee</a>
  </li>
  <li>
    <a routerLink="/customer" routerLinkActive="active">Customer</a>
  </li>
  <li class="float-right logout">
    <a (click)="logoff()" routerLinkActive="active" *ngIf="_global.isUserLoggedIn==true">Log Off</a>
  </li>
</ul>


<div>
  <div>

    <!-- <div class="container">
      <h1>Angular 2 + Google Maps Places Autocomplete</h1>
      <div class="form-group">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
          #search formControlName="searchControl">
      </div>
      <div style="height:500px;width:500px">
        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" style="width: 500px;height: 500px;">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
      </div>
    </div> -->

    <!-- Routed views goes here -->
    <flash-messages></flash-messages>
    <router-outlet></router-outlet>
  </div>
</div>