<app-add-employee *ngIf="showForm===true && viewEmpData.EmpId==0" (toggleForm)="toggleForm(showForm)"></app-add-employee>
<app-add-employee *ngIf="showForm===true && viewEmpData.EmpId" (toggleForm)="toggleForm(showForm)" [viewEmpData]="viewEmpData"></app-add-employee>
<div *ngIf="showForm===false">
  <form>
    <div class="button-title">
      <h4 class="float-left">Employee List</h4>
      <button mat-raised-button color="primary" class="float-right" (click)="goToAddEmployee();">Add Employee</button>
      <button mat-raised-button color="warn" class="float-right" *ngIf="empSelArr.length>0" (click)="openDialog(deleteEmp,0)">Delete Selected Records</button>
    </div>
    <!-- <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field> -->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="Select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <!-- <mat-checkbox (click)="getmsg(row)" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"> -->
            <mat-checkbox (click)="checkbox(row)" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element">
            <a href="javascript:void(0)" (click)="empEditForm(element)">{{element.Name}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container>

        <ng-container matColumnDef="Age">
          <th mat-header-cell *matHeaderCellDef> Age </th>
          <td mat-cell *matCellDef="let element"> {{element.Age}} </td>
        </ng-container>

        <ng-container matColumnDef="City">
          <th mat-header-cell *matHeaderCellDef> City </th>
          <td mat-cell *matCellDef="let element"> {{element.City}} </td>
        </ng-container>

        <ng-container matColumnDef="ZipCode">
          <th mat-header-cell *matHeaderCellDef> ZipCode </th>
          <td mat-cell *matCellDef="let element"> {{element.ZipCode}} </td>
        </ng-container>

        <ng-container matColumnDef="Mobile">
          <th mat-header-cell *matHeaderCellDef> Mobile </th>
          <td mat-cell *matCellDef="let element"> {{element.Mobile}} </td>
        </ng-container>

        <ng-container matColumnDef="Gender">
          <th mat-header-cell *matHeaderCellDef> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>
        </ng-container>

        <ng-container matColumnDef="IsMarried">
          <th mat-header-cell *matHeaderCellDef> IsMarried </th>
          <td mat-cell *matCellDef="let element"> {{element.IsMarried==1 ? "Yes" : "No"}} </td>
        </ng-container>

        <ng-container matColumnDef="DOB">
          <th mat-header-cell *matHeaderCellDef> DOB </th>
          <td mat-cell *matCellDef="let element"> {{element.DOB | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef>
            Action
          </th>
          <td mat-cell *matCellDef="let row">
            <i class="material-icons md-dark md-60" (click)="openDialog(deleteEmp,row)">
              highlight_off
            </i>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>

    <!-- Dialog Code Start -->
    <ng-template #deleteEmp>

      <h2 mat-dialog-title>
        Warning
      </h2>

      <mat-dialog-content>
        Sure, you want to delete selected record(s)?
      </mat-dialog-content>

      <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="close()">No</button>
        <button mat-raised-button color="warn" (click)="save()">Yes</button>
      </mat-dialog-actions>

    </ng-template>
    <!-- Dialog Code End -->

  </form>
  <!-- <table style="width:100%">
    <tr *ngFor="let obj of v">
      <td>{{obj.add_on_id}}</td>
      <td>{{obj.ink_count}}</td>
      <td>{{obj.location}}</td>
      <td>{{obj.name}}</td>
      <td>
        <table>
          <tr *ngFor="let obj1 of obj.pricing">
            <td>{{obj1.id}} </td>
            <td>
              <table>
                <tr *ngFor="let obj2 of obj1.val;let i=index">
                  <td>
                    {{obj2}}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <table style="width:100%" border="all">
      <tr *ngFor="let obj of v">
        <td>{{obj.add_on_id}}</td>
        <td>{{obj.ink_count}}</td>
        <td>{{obj.location}}</td>
        <td>{{obj.name}}</td>
        <td>
          <table>
            <tr *ngFor="let obj1 of obj.pricing | keyvalue">
              <td>{{obj1.id}} </td>
              <td>
                <table>
                  <tr *ngFor="let obj2 of obj1.value | keyvalue">
  
                    <td>
                      {{obj2.value}}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table> -->
</div>